In [1]:
import json
import pandas as pd
import os

In [2]:
all_results = [i for i in os.listdir() if i.endswith(".json")]

In [15]:
df = pd.DataFrame()
for result_name in all_results:
    model = result_name[6:-12]
    if model == '':
        model = "no_cluster"
    result_dict = json.load(open(result_name))
    del result_dict['solution']
    result_dict['Model'] = model
    df = df.append(result_dict, ignore_index=True)

C:\Users\lawre\AppData\Local\Temp\ipykernel_212040\246917078.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(result_dict, ignore_index=True)
C:\Users\lawre\AppData\Local\Temp\ipykernel_212040\246917078.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(result_dict, ignore_index=True)
C:\Users\lawre\AppData\Local\Temp\ipykernel_212040\246917078.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(result_dict, ignore_index=True)
C:\Users\lawre\AppData\Local\Temp\ipykernel_212040\246917078.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(result_dict, ignore_index=True)
C:\Users\lawre\AppData\Local\Temp\ipykernel_212040\246917078.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(result_dict, ignore_index=True)

In [16]:
df

       obj_value       runtime   mip_gap         Model
0  942073.554165    120.067000  0.027837       kmed_r5
1  934923.655473    120.083000  0.019576  km_dbscan_r5
2  962740.793900    100.457520  0.000063         km_r5
3  918408.247928  10800.324259  0.050551           Raw
4  812657.195600    120.066000  0.000527        som_r5